<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center" style="font-size: 40px;color:white">
    Something went wrong
    <br><br><br>
    <a href="child_interface"><button class="back">Back</button></a>
</div>

</body>
</html>

<style>
    .back{
                   color: #fff;
    background-color: #FF5A44;
    border-color: #FF5A44;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.045);
    box-shadow: 0 2px 0 rgba(0,0,0,0.045);
        font-size: 40px;
    }
        body {

	display: flex;
	justify-content: center;
	align-items: center;
	/*让页面始终占浏览器可视区域总高度*/
	height: 100vh;
	/*背景渐变色*/
	background: linear-gradient(#141e30,#243b55);


}
</style>