<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div align="center">
    <p align="center" style="font-size: 45px;color: white;">Hi, Welcome to ECCA!</p>
    <p align="center" style="font-size: 45px;color: white;">Which Role Do You Play?</p>
    <br><br>
<div style="float: left; "><a href="child_login"><img src="../static/Icons/child.png" width="50%"></a></div>
<div style="float: right;"><a href="designer_login"><img src="../static/Icons/designer.png" width="50%"></a></div>
</div>
</body>
</html>

<style>
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(#141e30,#243b55);

}
</style>