<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ task_name }}</title>
</head>
<body>


<div class="box" align="center" style="font-weight: 900;font-size: 25px" >
    <p>____________________________________________________________________________</p>
<p>Background</p>
<img src="../static/Task/{{ code }}/description_picture/description_picture.png" width="80%">
<p>____________________________________________________________________________</p>
    <p>Go</p>
 <div align="center" >

     <a href="collect_record_model/1"><img src="../static/Icons/talk.png" width="5%"></a></div>
    <br>
    Have a chat with AI and train its oral ability!
</div>

</body>
</html>

<style>
    body{
        background-color: mediumpurple;
    }
</style>