<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ task_name }}</title>
</head>
<body>


<div class="box" align="center" style="font-weight: 900;font-size: 25px">
    <p>____________________________________________________________________________</p>
<p>Background</p>
<img src="../static/Task/{{ code }}/description_picture/description_picture.png" width="80%">
<p>____________________________________________________________________________</p>

    <p>Go</p>

    <div  align="center">
    <a href="character_design"><img src="../static/Icons/draw.png" width="5%"></a> <br>Start From Designing Your Own AI!
</div>

</div>
</body>
</html>
<style>
    body{
      background-color: mediumpurple;
    }
</style>